<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>EnderecoServlet</servlet-name>

		<servlet-class>webinar.servlets.EnderecoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InstrutorServlet</servlet-name>

		<servlet-class>webinar.servlets.InstrutorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnderecoServlet</servlet-name>
		<url-pattern>/EnderecoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnderecoServlet</servlet-name>
		<url-pattern>/enderecocontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstrutorServlet</servlet-name>
		<url-pattern>/InstrutorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstrutorServlet</servlet-name>
		<url-pattern>/instrutorcontroller</url-pattern>
	</servlet-mapping>
</web-app>